@import '../mixins'
@import '../variables'

.button_to_top
  position: fixed
  bottom: 60px
  right: 55px
  box-sizing: content-box
  padding: 12px
  width: 60px
  height: 60px
  border-radius: 50%
  background-color: $yellow
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
  z-index: 4
  border: none
  @include btn_hover()
  @include flex(center, center)

  &__arrow
    width: 0
    height: 0
    border-left: 17px solid transparent
    border-right: 17px solid transparent
    border-bottom: 25px solid $white
    margin-bottom: 5px
    @include flex(center, center)

@media screen and (max-width: $laptop_medium)
  .button_to_top
    right: 10px

@media screen and (max-width: $laptop_small)
  .button_to_top
    right: 20px
    bottom: 40px

@media screen and (max-width: $tablet_large)
  .button_to_top
    display: none
