@import 'reset'
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap')
@import 'variables'
@import 'mixins'

main
  margin-top: 20px

body
  overflow-x: hidden

.notification-container
  @include font($s: 15px, $c: $white, $w: 500)

.react-multi-carousel-list
  overflow: unset
  clip-path: inset(0 0 0 0)

.react-multiple-carousel__arrow
    background: $yellow
    border-radius: 50%
    min-width: 40px
    min-height: 40px
    transition: 250ms
    position: absolute
    top: 50%
    transform: translateY(-50%)

    &:hover
      background-color: $dark_yellow

    &::before
      color: $grey_3
      font-size: 20px
      font-weight: 900

.none
  display: none