@import "variables"

@media screen and (max-width: $laptop_medium)
  .supplement
    width: 100px
    padding: 5px
    height: 100px

    &__name,
    &__price
      font-size: 13px

    &__img
      max-width: 30px

@media screen and (max-width: $laptop_small)
  .logo
    max-width: 50px

  body .link,
  body .link_in_list__link
    font-size: 12px

@media screen and (max-width: $tablet_large)
  .logo
    max-width: 80px

  body .link,
  body .link_in_list__link
    font-size: 18px

//<768px
@media screen and (max-width: $tablet_medium)
  .promocode__input
    max-width: 150px
  .address
    grid-template-columns: 195px 195px
  .modal
    padding: 25px

    &__close_btn
      top: 25px
      right: 25px
  .input_user
    &__wrap
      flex-direction: column
      align-items: flex-start

    &__link
      margin: 10px 0 10px

//<640px
@media screen and (max-width: $tablet_small)
  .control_btns
    flex-direction: column
    &__continue_btn
      margin-top: 20px
  .input_user__wrap
    align-items: flex-start
  .promocode__title
    text-align: center
  .logo
    max-width: 60px

//<480px
@media screen and (max-width: $phone_medium)
  .address
    grid-template-columns: 130px 130px
    grid-gap: 10px
  .modal
    padding: 20px 25px

    &__close_btn
      top: 20px
      right: 25px
      max-width: 30px

  .input
    width: 100%
    box-sizing: border-box
    padding: 10px 15px
    font-size: 13px

    &__wrap
      width: 100%

    &::placeholder
      font-size: 13px

  .input_user__wrap
    align-self: baseline